@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html,
body {
	font-size: 100%;
	line-height: 1;
	font-family: "Nunito Sans";
	font-size: 16px;
	background-color: rgb(237, 235, 235);
}

label {
	line-height: 24px;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.button-container {
	display: flex;
	gap: 10px;
}

.load-button {
	font-size: 22px;
	font-weight: bold;
	padding: 10px 25px;
}

.header {
	height: 70px;
}

.main {
	position: relative;
	height: 60vh;
	flex-grow: 1;
	overflow: auto;
}

.resizing_con {
	position: absolute;
	width: 100%;
	height: 100%;
}

.footer {
	height: 6vh;
}

.wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer_con {
	width: 100vw;
	max-width: 1000px;
}

.scale_con {
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 380px;
}

.footer_item {
	margin-left: 30px;
	padding-top: 5px;
}

.ratio_check {
	height: 30px;
}

.ratio_check__input {
	display: none;
}

.ratio_check__box {
	margin-top: 30px;
	width: 24px;
	height: 24px;
	background-image: url(./img/lock-open.png);
	background-size: contain;
}

.ratio_check__box:hover {
	opacity: 0.7;
}

.ratio_check__input:checked + .ratio_check__box {
	background-image: url(./img/lock-closed.png);
}

.tool_button__svg {
	width: 24px;
	height: 24px;
	fill: white;
	pointer-events: none;
}

.header__button {
	margin-left: 10px;
}

.active {
	border-style: inset;
}

.offcanvas {
	height: 485px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offcanvas-header {
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
}

.offcanvas-body {
	padding: 1rem;
}

.color_con {
	display: flex;
	justify-content: space-between;
}

.color {
	flex: 0 0 48%;
	margin-bottom: 1rem;
	width: 220px;
	margin-right: 10px;
}

.color_num {
	font-weight: bold;
}

.color_swatch {
	width: 50px;
	height: 50px;
	border: 1px solid #343a40;
	margin-bottom: 0.5rem;
}

.offcanvas-title {
	font-weight: bold;
	margin-left: 15px;
	font-size: 20px;
	color: #343a40;
}

.color_rgb {
	margin-top: 10px;
}

.color_desc {
	margin-left: 15px;
	margin-top: 10px;
}

.contrast_label {
	font-size: 20px;
	font-weight: bold;
	display: none;
}

.contrast_value {
	font-size: 24px;
	font-weight: bold;
}

.contrast_alert {
	color: red;
	display: none;
}

#canvas {
	display: block;
	border: 0 !important;
	margin: 0;
}

#pixel_color_block {
	border: 1px solid #fff;
	height: 14px;
	width: 14px;
	display: none;
}

#pixel_color {
	display: inline-block;
}

#scale_label {
	display: none;
}

#scale_range {
	display: none;
	width: 150px;
}

#scale_num {
	display: none;
	width: 100px;
	height: 25px;
}

#scale_percent {
	display: none;
	padding-top: 5px;
}

#dialog {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 400px;
	border: none;
}

#dialog p {
	margin: 15px 0;
	font-weight: bold;
}

#dialog input[type="radio"] {
	margin-right: 8px;
}

#dialog label {
	margin-right: 16px;
	font-weight: normal;
}

.proper_value {
	font-weight: bold;
}

.correction_checkbox_checkbox {
	width: 25px;
	height: 25px;
	margin-top: 7px;
	margin-right: 5px;
	margin-left: 6px;
}

.correction_checkbox_label {
	padding-top: 7px;
	font-size: 20px;
	margin-right: 125px;
}

.submit_correction_button {
	margin-right: 15px;
}

.color_correction {
	height: 630px;
}

.filter_offcanvas {
	height: 360px;
}

#chart_container {
	height: 380px;
	width: 380px;
}
